@define-color color-accent #CB5079;
@define-color color-bg #211422;
@define-color color-black #3B4252;
@define-color color-blue #5E81AC;
@define-color color-cyan #88C0D0;
@define-color color-fg #CDDDF7;
@define-color color-green #A3BE8C;
@define-color color-magenta #B48EAD;
@define-color color-red #BF616A;
@define-color color-white #E5E9F0;
@define-color color-yellow #EBCB8B;
