@define-color color-1 #ADC3D9;
@define-color color-2 #5E7484;
@define-color color-3 #4A5056;
@define-color color-accent #C94A2A;
@define-color color-accent-2 #F0C38E;
@define-color color-bg #1E2328;
@define-color color-black #3B4252;
@define-color color-blue #5E81AC;
@define-color color-cyan #88C0D0;
@define-color color-fg #E6EBF0;
@define-color color-green #A3BE8C;
@define-color color-magenta #B48EAD;
@define-color color-red #BF616A;
@define-color color-white #E5E9F0;
@define-color color-yellow #EBCB8B;
