@define-color color-1 #5B4C73;
@define-color color-2 #F12F55;
@define-color color-3 #C24A4A;
@define-color color-accent #FF6B5A;
@define-color color-accent-2 #3FD3FF;
@define-color color-bg #0A1630;
@define-color color-black #3B4252;
@define-color color-blue #5E81AC;
@define-color color-cyan #88C0D0;
@define-color color-fg #D2DAE6;
@define-color color-green #A3BE8C;
@define-color color-magenta #B48EAD;
@define-color color-red #BF616A;
@define-color color-white #E5E9F0;
@define-color color-yellow #EBCB8B;
