@define-color color-1 #8A2D3B;
@define-color color-2 #8A2D3B;
@define-color color-3 #9B3922;
@define-color color-accent #6C0345;
@define-color color-accent-2 #D5451B;
@define-color color-bg #481E14;
@define-color color-fg #BA704F;
