@import url('/home/arvid/arcanes-dotfiles/curr-theme/theme.css');

* {
    font-size:17px;
    font-family: "0xProto Nerd Font Mono", "0xProto Nerd Font", "DejaVu Sans Mono", monospace;
}
window#waybar{
    all: unset;
}

.modules-left {
    padding:7px;
    margin:10px 0px 5px 10px;
    border-radius:10px;
    background: alpha(@color-bg,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:7px;
    margin:10px 0px 5px 0px;
    border-radius:10px;
    background: alpha(@color-bg,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

/*

.modules-right {
    padding:7px;
    margin: 10px 10px 5px 0px;
    border-radius:10px;
    background: alpha(@color-bg, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
*/



#arcane-right-1 {
    margin: 2px 2px 0px 0px;
    background: alpha(@color-bg, .8);
    border-radius: 12px;
}

#arcane-right-2 {
    margin: 2px 2px 0px 0px;
    background: alpha(@color-bg, .8);
    border-radius: 12px;
}



#arcane-right-3 {
    margin: 2px 2px 0px 0px;
    background: alpha(@color-bg, .8);
    border-radius: 12px;
}

#arcane-right-4 {
    margin: 2px 2px 0px 0px;
    background: alpha(@color-bg, .8);
    border-radius: 12px;
}


tooltip {
    background:@color-bg;
    color: @color-bg;
}
#clock:hover, #bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:@color-accent;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color-accent;
}
#clock{
    padding: 0px 5px;
    color:@color-fg;
    transition: all .3s ease;
}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color-fg,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color-fg;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color-accent;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color: @color-fg;

}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color-fg;

}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color-fg;


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@color-fg;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
