@import url('/home/arvid/arcanes-dotfiles/curr-theme/theme.css');

* {
    font-size:16px;
    font-family: "JetBrainsMono Nerdfont", "JetBrainsMono Nerdfont", "JetBrainsMono Nerdfont", monospace;
}
window#waybar{
    all: unset;
}

.modules-left {
    border-radius:12px;
}

.modules-center {
    border-radius:12px;
    font-weight: bold;
}



#arcane-right-1 {
    background: alpha(@color-fg, .8);
    border-radius: 12px;
}

#arcane-right-2 {
    background: alpha(@color-fg, .8);
    border-radius: 12px;
}



#arcane-right-3 {
    background: alpha(@color-bg, .8);
    border-radius: 12px;
}

#arcane-right-4 {
    background: alpha(@color-bg, .8);
    border-radius: 12px;
}


tooltip {
    background:alpha(@color-bg,.8);
    color: @color-bg;
}


#clock{
    color:@color-fg;
    transition: all .3s ease;
    background-image: 
        linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        linear-gradient(to right, @color-accent-2, @color-accent, @color-accent-2);
    border-radius: 12px;
}


#workspaces {
    color:@color-fg;
    background-image: 
        linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        linear-gradient(to right, @color-accent-2, @color-accent, @color-accent-2);
    border-radius: 12px;
}



#workspaces button {
    all:unset;
    padding: 0 0.5em;
    color: alpha(@color-fg,.6);
    transition: all .2s ease;
}



#workspaces button:hover {
    color: rgb(193, 184, 184);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}



#workspaces button.active {
    color: @color-fg;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}



#workspaces button.empty.visible {
    color: @color-fg;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}



#workspaces button.empty:hover {
    color: rgb(203, 105, 105);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}



#workspaces button.empty.active {
    color: @color-accent;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}



#bluetooth{
    transition: all .3s ease;
    color:@color-fg;
    background-image: 
        linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        linear-gradient(to right, @color-accent-2, @color-accent, @color-accent-2);
    border-radius: 12px;
}



#network{
    transition: all .3s ease;
    color:@color-fg;
    background-image: 
        linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        linear-gradient(to right, @color-accent-2, @color-accent, @color-accent-2);
    border-radius: 12px;

}



#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color-fg;
    background-image: 
        linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        linear-gradient(to right, @color-accent-2, @color-accent, @color-accent-2);
    border-radius: 12px;


}

#memory{
    padding: 5px;
    transition: all .3s ease; 
    background-image: 
        linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        linear-gradient(to left, @color-accent, @color-accent );
    color: @color-fg;
    border-radius: 0px 0px;
}


#cpu{
    padding: 5px;
    transition: all .3s ease; 
    background-image: 
        linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        linear-gradient(to right, @color-accent-2, @color-accent );
    color: @color-fg;
    border-radius: 12px 0px 0px 12px;
}


#temperature {
  padding: 5px;
  transition: all 0.3s ease;
  background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), /* Dim overlay */
    linear-gradient(to left, @color-accent-2, @color-accent);       /* Original gradient */
  color: @color-fg;
  border-radius: 0px 12px 12px 0px;
}


