@define-color foreground #eee3d0;
@define-color background #0d0f12;
@define-color cursor #eee3d0;

@define-color color0 #0d0f12;
@define-color color1 #425A92;
@define-color color2 #666D91;
@define-color color3 #99768D;
@define-color color4 #A28984;
@define-color color5 #A49AA2;
@define-color color6 #DBA7A1;
@define-color color7 #eee3d0;
@define-color color8 #a69e91;
@define-color color9 #425A92;
@define-color color10 #666D91;
@define-color color11 #99768D;
@define-color color12 #A28984;
@define-color color13 #A49AA2;
@define-color color14 #DBA7A1;
@define-color color15 #eee3d0;
